<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provision Spoofer</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://cdn.sellix.io/static/js/embed.js"></script>
    <link href="https://cdn.sellix.io/static/css/embed.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/images/provision.png">
</head>
<body>
    <nav class="nav-bar-bg">
        <h2 class="nav-text-header">PROVISION</h2>
        <a class="nav-home" href="/">Home</a>
        <img class="nav-active" src="/images/underline.png" alt="underline">
        <a class="nav-support" target="_blank" href="https://discord.gg/k49spBwkTk">Support</a>
        <a class="nav-panel" href="/Panel">Panel</a>
    </nav>

    <div>
        <h3 class="Body-Provision-Text">Provision</h3>
        <img class="Body-Provision-Underline" src="/images/curved.png" alt="curved">
        
        <a class="Spoofing-Text">Spoofing Made Simple</a>
        <img class="Spoofing-Line" src="/images/straight.png" alt="straight">

        <button class="buy-button" data-sellix-group="64327fcdd52d5" type="submit" alt="Buy Now with sellix.io">Purchase</button>
    
        <img class="provision-logo" src="/images/provision(2).png" alt="provision">
    </div>
    
    
</body>
</html>
